.menu li:nth-child(7){
    background-color: #ffffff;
}

.menu li:nth-child(7) a{
    color: #EE4D2D;
}

.card-conteudo{
    background-color: white;
    border: 1px dashed #EE4D2D;
    border-radius: 6px;
    padding: 18px;
    width: 250px;
}


.editar{
    background-color: #F37023;
    color: white;
}

    
