body {
  background-color: #fb4e0f;
}

#navbar {
  height: 80px;
  padding: 0 300px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #f4f3f3;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  height: 70px;
}

#nome-logo {
  color: #fb4e0f;
  padding-right: 30px;
}



main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #fdfafa;
    width: 500px;
    height: 600px;
    padding: 40px;
    border-radius: 7px;
}

input {
  padding: 15px;
  border-radius: 5px;
  width: 350px;
  border: 1px solid #d3d3d3;
}

button {
  background-color: #fb4e0f;
  padding: 10px;
  width: 350px;
  color: rgb(255, 255, 255);
}

button:hover {
  background-color: #f56e3e;
  cursor: pointer;
}

#links-login {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

#links-login a {
  text-decoration: none;
}

#ou {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 350px;
}

#ou hr {
    flex: 1;
    border-top: 1px solid #d3d3d3;
}

#botoes-login {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.botao-login {
  display: flex;
  border-radius: 5px;
  padding: 8px;
  gap: 10px;
  border: 1px solid #b5b4b4;
}

.botao-login img {
  width: 20px;
}

#novo p {
  color: #b5b4b4;
}

#novo a {
  color: #f56e3e;
  text-decoration: none;
}