<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../assets/home.css">

    <title>Document</title>
</head>

<body>

    <header>

        <div class="header-logo">

            <div>
                <img src="../assets/img/logo.png" alt="Logo Xhopii" class="logo">
                <h1>Xhopii</h1>
            </div>

            <a href="/index.html" id="link-sair">Sair</a>

        </div>

        <nav class="menu">

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="cadastro-cliente.html">Cadastro Cliente</a></li>
                <li><a href="cadastro-funcionario.html">Cadastro Funcionário</a></li>
                <li><a href="cadastro-produto.html">Cadastro Produto</a></li>
                <li><a href="visualizar-loja.html">Ver Lojas</a></li>
                <li><a href="visualizar-cliente.html">Ver Clientes</a></li>
                <li><a href="visualizar-cupom.html">Ver Cupons</a></li>
                <li><a href="visualizar-funcionario.html">Ver Funcionários</a></li>
                <li><a href="visualizar-produto.html">Ver Produtos</a></li>
            </ul>

        </nav>

    </header>

    <main>

        <div class="carousel slide" data-bs-ride="carousel" id="ads">

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="../assets/img/carrosel1.webp"
                        alt="Oferta 1"
                        class="d-block w-100">
                </div>

                <div class="carousel-item">
                    <img src="../assets/img/carrosel2.webp"
                        alt="Oferta 2"
                        class="d-block w-100">
                </div>

                <div class="carousel-item">
                    <img src="../assets/img/carrosel3.webp"
                        alt="Oferta 3"
                        class="d-block w-100">
                </div>

                <div class="carousel-item">
                    <img src="../assets/img/carrosel4.webp"
                        alt="Oferta 4"
                        class="d-block w-100">
                </div>

            </div>

            <button class="carousel-control-prev"
                type="button"
                data-bs-target="#ads"
                data-bs-slide="prev">

                <span class="carousel-control-prev-icon"></span>

                <span class="visually-hidden">Anterior</span>

            </button>

            <button class="carousel-control-next"
                type="button"
                data-bs-target="#ads"
                data-bs-slide="next">

                <span class="carousel-control-next-icon"></span>

                <span class="visually-hidden">Próximo</span>

            </button>

        </div>

        <img id="cupom-img"
            src="../assets/img/home-oferta.jpg"
            alt="Oferta">

        <p class="texto-laranja">DESCOBERTAS DO DIA</p>

        <hr id="hr-laranja">

        <section id="container-produtos">

            <a href="../view/interface-produto.html">
                <div class="produto-camisa">

                    <img src="../assets/img/produto1.png"
                        alt="Imagem camisa preta">

                    <p>Camisa Desenvolvedor Front-End CSS</p>

                    <div>
                        <p class="texto-laranja">R$ 59,90</p>
                        <p class="texto-cinza">171 disponíveis</p>
                    </div>

                </div>
            </a>

            <a href="../view/interface-produto.html">
                <div class="produto-camisa">

                    <img src="../assets/img/produto1.png"
                        alt="Imagem camisa preta">

                    <p>Camisa Desenvolvedor Front-End CSS</p>

                    <div>
                        <p class="texto-laranja">R$ 59,90</p>
                        <p class="texto-cinza">171 disponíveis</p>
                    </div>

                </div>
            </a>

            <a href="../view/interface-produto.html">
                <div class="produto-camisa">

                    <img src="../assets/img/produto1.png"
                        alt="Imagem camisa preta">

                    <p>Camisa Desenvolvedor Front-End CSS</p>

                    <div>
                        <p class="texto-laranja">R$ 59,90</p>
                        <p class="texto-cinza">171 disponíveis</p>
                    </div>

                </div>
            </a>

            <a href="../view/interface-produto.html">
                <div class="produto-camisa">

                    <img src="../assets/img/produto1.png"
                        alt="Imagem camisa preta">

                    <p>Camisa Desenvolvedor Front-End CSS</p>

                    <div>
                        <p class="texto-laranja">R$ 59,90</p>
                        <p class="texto-cinza">171 disponíveis</p>
                    </div>

                </div>
            </a>

            <a href="../view/interface-produto.html">
                <div class="produto-camisa">

                    <img src="../assets/img/produto1.png"
                        alt="Imagem camisa preta">

                    <p>Camisa Desenvolvedor Front-End CSS</p>

                    <div>
                        <p class="texto-laranja">R$ 59,90</p>
                        <p class="texto-cinza">171 disponíveis</p>
                    </div>

                </div>
            </a>

            <a href="../view/interface-produto.html">
                <div class="produto-camisa">

                    <img src="../assets/img/produto1.png"
                        alt="Imagem camisa preta">

                    <p>Camisa Desenvolvedor Front-End CSS</p>

                    <div>
                        <p class="texto-laranja">R$ 59,90</p>
                        <p class="texto-cinza">171 disponíveis</p>
                    </div>

                </div>
            </a>

            <a href="../view/interface-produto.html">
                <div class="produto-camisa">

                    <img src="../assets/img/produto1.png"
                        alt="Imagem camisa preta">

                    <p>Camisa Desenvolvedor Front-End CSS</p>

                    <div>
                        <p class="texto-laranja">R$ 59,90</p>
                        <p class="texto-cinza">171 disponíveis</p>
                    </div>

                </div>
            </a>

            <a href="../view/interface-produto.html">
                <div class="produto-camisa">

                    <img src="../assets/img/produto1.png"
                        alt="Imagem camisa preta">

                    <p>Camisa Desenvolvedor Front-End CSS</p>

                    <div>
                        <p class="texto-laranja">R$ 59,90</p>
                        <p class="texto-cinza">171 disponíveis</p>
                    </div>

                </div>
            </a>

            <a href="../view/interface-produto.html">
                <div class="produto-camisa">

                    <img src="../assets/img/produto1.png"
                        alt="Imagem camisa preta">

                    <p>Camisa Desenvolvedor Front-End CSS</p>

                    <div>
                        <p class="texto-laranja">R$ 59,90</p>
                        <p class="texto-cinza">171 disponíveis</p>
                    </div>

                </div>
            </a>

            <a href="../view/interface-produto.html">
                <div class="produto-camisa">

                    <img src="../assets/img/produto1.png"
                        alt="Imagem camisa preta">

                    <p>Camisa Desenvolvedor Front-End CSS</p>

                    <div>
                        <p class="texto-laranja">R$ 59,90</p>
                        <p class="texto-cinza">171 disponíveis</p>
                    </div>

                </div>
            </a>

        </section>

    </main>

    <footer>
        <section>
            <div>
                <h3 class="footer-titulo">Atendimento ao cliente</h3>
                <p>Central de Ajuda</p>
                <p>Como Comprar</p>
                <p>Métodos de Pagamento</p>
                <p>Garantia Xhopii</p>
                <p>Devolução e Reembolso</p>
                <p>Fele Conosco</p>
                <p>Ouvidoria</p>
            </div>

            <div>
                <h3 class="footer-titulo">Sobre a Xhopii</h3>
                <p>Sobre Nós</p>
                <p>Políticas Xhopii</p>
                <p>Política de Privacidade</p>
                <p>Programa de Aliados da Xhopii</p>
                <p>Seja um Entregador Xhopii</p>
                <p>Ofertas Relâmpago</p>
                <p>Xhopii Blog</p>
                <p>Impresa</p>
            </div>

            <div id="for">
                <h3 class="footer-titulo">Pagamento</h3>
                <div id="formas-pagamento">
                    <img src="../assets/img/pix.png" alt="formas-pagamento">
                    <img src="../assets/img/boleto.png" alt="formas-pagamento">
                    <img src="../assets/img/americanexpress.png" alt="formas-pagamento">
                    <img src="../assets/img/visa.png" alt="formas-pagamento">
                    <img src="../assets/img/mastercard.png" alt="formas-pagamento">
                    <img src="../assets/img/hipercard.png" alt="formas-pagamento">
                    <img src="../assets/img/elo.png" alt="formas-pagamento">
                </div>
            </div>

            <div id="siga-nos">
                <h3 class="footer-titulo">Siga-nos</h3>
                <div class="redes-sociais">
                    <img src="../assets/img/instagram.png" alt="Instagram">
                    <p>Instagram</p>
                </div>
                <div class="redes-sociais">
                    <img src="../assets/img/twitter.png" alt="Twitter">
                    <p>Twitter</p>
                </div>
                <div class="redes-sociais">
                    <img src="../assets/img/facebook.png" alt="Facebook">
                    <p>Facebook</p>
                </div>
                <div class="redes-sociais">
                    <img src="../assets/img/youtube.png" alt="YouTube">
                    <p>YouTube</p>
                </div>
                <div class="redes-sociais">
                    <img src="../assets/img/linkedin.png" alt="LinkedIn">
                    <p>Linkedin</p>
                </div>
            </div>

            <div id="atendimento">
                <h3 class="footer-titulo">Atendimento ao Cliente</h3>
                <div>
                    <img src="../assets/img/qr-code.png" alt="qr-code">
                </div>
                <div>
                    <img src="../assets/img/contato.jpg" alt="qr-code">
                </div>
            </div>

        </section>

        <hr>
        <p id="direitos">© 2023 Xhopii. Todos os direitos acadêmicos reservados</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>